<div class="header">
    <div class="title" [class.red-title]="playerColor() === 'Red'">Connect 4</div>
    <div class="turn">
        <h3 [ngClass]="playerTurn()" class="game-state">{{currentPlayer.getState()}}</h3>
    </div>
</div>

<div class="board" [ngClass]="boardStyle()">
    <div class="column" *ngFor="let column of board.boardState, let i = index"
         [class.column-active]="isActiveColumn(i)" (click)="dropPiece(i)">
        <div class="row" *ngFor="let cell of column">
            <div [ngClass]="activeCell(cell)"></div>
        </div>
    </div>
</div>

<button class="restart" (click)="restart()">Restart Game</button>

<div class="announcer" *ngIf="isWinner()">
    <div [style.color]="playerColor()">{{currentPlayer.getState()}}</div>
</div>