:host {
    display: inline-block;
    text-align: center;
    margin-left: calc(50% - 310px);
}

.header {
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.title {
    color: white;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
    text-shadow: -2px 0 blue,0 2px blue,2px 0 blue,0 -2px blue;
}

.red-title {
    text-shadow: -2px 0 red,0 2px red,2px 0 red,0 -2px red;
}

.winner * {
    cursor: auto !important;
}

.winner:hover * {
    opacity: 1;
}

.turn * {
    font-size: xx-large;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    width: 190px;
}

.turn {
    margin-left: auto;
}

.red-turn {
    background: red;
    border: solid 2px black;
}

.blue-turn {
    background: blue;
    border: solid 2px black;
}

.game-over {
    background: black;
    border: solid 2px black;
}

.board {
    display: flex;
    padding: 10px;
    background: #f2ff09;
    border-radius: 25px;
    border-bottom: 20px solid blue;
    border-left: 20px solid blue;
    border-right: 20px solid blue;
}

.red-border {
    border-color: red;
}

.column-active:hover {
    opacity: .7;
    cursor: pointer;
}

.cell {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 10px;
    background: white;
}

.undone {
    color: #a2a2a2;
}

.active-cell-red {
    background: red;
    opacity: 1 !important;
}

.active-cell-blue {
    background: blue;
    opacity: 1 !important;
}

.restart {
    margin-top: 20px;
    font-size: xx-large;
    color: yellow;
    background: black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.announcer * {
    cursor: auto;
    font-family: 'Baloo Bhaina', cursive;
    text-shadow: -4px 0 #000000, 0 4px #000000, 4px 0 #000000, 0 -4px #000000;
    position: absolute;
    font-size: 100px;
    left: calc(50% - 230px);
    top: calc(50% - 150px);
}